<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Category Creation</title>
</head>

<body>
  <header>
    <a href="/">
      <h1>Odin Foods</h1>
    </a>
  </header>
  <main>
    <%- include("partials/errors.ejs") %>
      <div class="categoryCreate">
        <form action="/createCategory" method="POST" id="createCategoryForm">
          <label for="categoryName">Category Name: </label>
          <input type="text" name="categoryName" id="categoryName">
          <button type="submit">Create</button>
        </form>
      </div>

  </main>
  <footer>
    <h3>Copyright 2024 DDJCS50</h3>
  </footer>
</body>

</html>