<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Odin Foods</title>
</head>

<body>
  <header>
    <h1>Odin Foods</h1>
    <a href="/createCategory">Create New Category</a>
    <a href="/createItem">Create New Item</a>
  </header>
  <main>
    <div>
      <ul>

        <% categories.forEach((category)=> { %>
          <a href="/category/<%= category.id %>">
            <li>
              Category Name:
              <%= category.name %>
            </li>
          </a>
          <% }) %>

      </ul>
    </div>
  </main>
  <footer>
    <h3>Copyright 2024 DDJCS50</h3>
  </footer>
</body>

</html>